<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Power Management</string>
    <key>CFBundleExecutable</key>
    <string>PMSetPane</string>
    <key>CFBundleIconFile</key>
    <string>PMSetPane.icns</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.generald.pmset-pane</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Power Management</string>
    <key>CFBundlePackageType</key>
    <string>prefPane</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.1</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>NSPrincipalClass</key>
    <string>PowerManagementPreferencePane</string>
    <key>NSPrefPaneIconFile</key>
    <string>PMSetPane.icns</string>
</dict>
</plist>
